* {
    box-sizing: border-box;
}

body {
    height: 90vh;
}

.container {
    display: grid;
    background-color: darkcyan;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.grid-item {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Write code from here */
.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}